<!--Define a estrutura HTML para exibir a lista de filmes-->
  <h1>Lista de Jogadores</h1>

<!-- Campo de busca -->
<input type="text" [(ngModel)]="searchTerm" placeholder="Buscar filme..." />

<table>
  <tr>
    <th>Jogador</th>
    <th>Time</th>
  </tr>
  <tr *ngFor="let jogador of jogadores | filter:searchTerm">
    <td>{{ jogador.nome }}</td>
    <td>{{ jogador.time }}</td>
   <!-- <td>
      <button (click)="atualizar(jogador.id)">Editar</button>
      <button (click)="deleteJogador(jogador.id)">Deletar</button>
    </td>-->
  </tr>
<table>
<!--
<button (click)="createJogador()">Adicionar Novo Jogador</button>
-->
